parameters:
  level: 8
  paths:
     - controllers
     - core
     - models
     - views
     - public
     - index.php
  ignoreErrors:
     - '#Call to static method .* on an unknown class offerModel#'
