parameters:
  level: 8
  paths:
     - controllers
     - core
     - models
     - services
     - index.php
  excludePaths:
     - vendor/*
     - tests/*
  scanDirectories:
     - vendor
  reportUnmatchedIgnoredErrors: false
